<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">
<body>
    <div layout:fragment="content">
        <div class="col-6">
            <div class="row mt-2">
                <form th:action="@{'/add-film'}" method="post">
                    <div class="col-12">
                        <label>NAME:</label>
                    </div>
                    <div class="col-12 mt-2">
                        <input type="text" name="name" class="form-control">
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <label>GENRE:</label>
                        </div>
                        <div class="col-12 mt-2">
                            <input type="text" name="genre" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <label>DURATION:</label>
                        </div>
                        <div class="col-12 mt-2">
                            <input type="number" name="duration" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <button class="btn btn-sm btn-success">ADD FILM</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>