<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">
<body>
<div layout:fragment="content">
    <div class="col-6">
        <div class="row mt-2">
            <form th:action="@{'/update-film'}" method="post">
                <input type="hidden" name="id" th:value="${film.id}">
                <div class="col-12">
                    <label>NAME:</label>
                </div>
                <div class="col-12 mt-2">
                    <input type="text" name="name" class="form-control" th:value="${film.name}">
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label>GENRE:</label>
                    </div>
                    <div class="col-12 mt-2">
                        <input type="text" name="genre" class="form-control" th:value="${film.genre}">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label>DURATION:</label>
                    </div>
                    <div class="col-12 mt-2">
                        <input type="number" name="duration" class="form-control" th:value="${film.duration}">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label>DIRECTOR:</label>
                    </div>
                    <div class="col-12 mt-2">
                        <select class="form-control" name="director.id">
                            <option th:each="d: ${directors}" th:text="${d.name + ' ' + d.surname}"
                                    th:value="${d.id}" th:selected="${d.id==film.director.id}"></option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <button class="btn btn-sm btn-success">UPDATE FILM</button>
                    </div>
                </div>
            </form>
            <form th:action="@{'/delete-film/' + ${film.id}}" method="post">
                <div class="row mt-2">
                    <div class="col-12">
                        <button class="btn btn-sm btn-danger">DELETE FILM</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>