<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="links.html"></div>
</head>
<body>
    <form th:action="@{'/users/add-user'}" method="post">
        <input type="text" class="form-control" name=name>
        <input type="text" class="form-control" name="surname">
        <button class="btn btn-success btn-sm">ADD USER</button>
    </form>

    <table class="table table-striped text-secondary">
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>SURNAME</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
        </tbody>
    </table>
</body>
</html>